.createCourseForm{
    padding: 20px;
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

.courseHeader{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom:20px;

}

.descriptionBlock{

    margin-bottom:20px;

}

.descriptionText{
    display: block;
    width: 100%;
    font-size: 18px;
    height: 90px;
    padding: 10px;

    border: 1px solid rgb(255, 221, 0);
}

.courseProperties{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.leftSide{
    width: 45%;
}

.rightSide{
    width: 35%;
}

.addAuthorBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.addAuthorBlock input {
    margin-bottom: 10px;
}

.addAuthorBlock button {
    margin-bottom: 10px;
}

.durationTransformed{
    font-size: 27px;
}

.durationTransformed span{
    font-weight: 600;
}

.authorListItem{
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
}